@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', system-ui, sans-serif;
  line-height: 1.6;
  color: #333;
}
